# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# Builds
dist/
web-build/

# Native builds
ios/
android/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# Expo generated
expo-env.d.ts

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Misc
*.pem